<div class="container mt-4">
    <table class="table table-dark text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Ver</th>
            <th *ngIf="isAdmin" scope="col">Edit</th>
            <th *ngIf="isAdmin" scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let endpoint of endpoints">
            <th>{{endpoint.id}}</th>
            <td>{{endpoint.name}}</td>
            <td><button class="btn btn-outline-primary" routerLink="/details/{{endpoint.id}}"><i class="far fa-eye"></i> Details</button></td>
            <td *ngIf="isAdmin"><button class="btn btn-outline-warning" routerLink="/updat/{{endpoint.id}}"><i class="far fa-edit"></i> Edit</button></td>
            <td *ngIf="isAdmin"><button class="btn btn-outline-danger" (click)="onDelete(endpoint.id)"><i class="far fa-trash-alt"></i> Delete</button></td>
          </tr>
        </tbody>
      </table>
</div>
